# These owners will be the default owners for everything in the repo and
# will be requested for review when someone opens a pull request.
*       @Speeedy01 @marco-bertschi @pascalberger @christianbumann @x-jokay @silanosa @georgesgoetz