---
Title: BBT.StrategyPattern
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">BBT.StrategyPattern</h1>
        <p>
            Strategy pattern implementation for .NET<br/>
        </p>
        <a class="btn btn-primary btn-lg" href="/BBT.StrategyPattern/docs" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" href="/BBT.StrategyPattern/api/BBT.StrategyPattern" role="button">API documentation</a>
    </div>
</div>

<div class="container">
    <p style="height: 35px;">
        <img alt="GitHub" src="https://img.shields.io/github/license/bbtsoftware/BBT.StrategyPattern">
        <img alt="GitHub release (latest SemVer)" src="https://img.shields.io/github/v/release/bbtsoftware/BBT.StrategyPattern">
        <img alt="Nuget" src="https://img.shields.io/nuget/dt/BBT.StrategyPattern">
    </p>

    <p>
        BBT.StrategyPattern a strategy pattern implementation for .NET.
    </p>

    <h3>Resources about strategy pattern</h3>

    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Strategy_pattern">Wikipedia</a></li>
        <li><a href="https://www.dofactory.com/net/strategy-design-pattern">dofactory</a></li>
    </ul>
</div>