---
Title: BBT.StrategyPattern
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        This NuGet package contains a strategy pattern implementation for .NET.
    </p>
</div>